@model IEnumerable<UserConciseViewModel>

@{
    ViewData["Title"] = "About";
}
<h2 style="text-align:center">About Us</h2>

<h4 style="text-align:center">The inspirers</h4>
<br />
<div class="row">
    @Html.DisplayForModel()    
</div>