@{
    ViewData["Title"] = "Home Page";
}


<div>
    <img src="https://img.grouponcdn.com/deal/ZXS6SLdXrBrAdMcPF6rzk3Wd8pW/ZX-1000x600/v1/c700x420.jpg" alt="Sewing machine" class="displayed" />
</div>
<div>
    <h2 style="text-align:center">Уникалност или  6 причини да се научим да шием</h2>
    <p>        
        Здравейте приятели и добре дошли в Магията на шиенето. Тук ще ви предложим един различен и колоритен свят, в който вие сте главните действащи лица, а ние ще ви правим компания, ще ви даваме идеи, съвети, а може пък и вие на нас. Тук всеки може да бъде какъвто си пожелае - технолог, дизайнер, стилист, конструктор, шивач, моделиер, така, че си направете по едно кафе и си поговорете с нас.
        Ние ще се опитаме да ви вдъхновим с  6 причини, за да се научите да шиете:
        <ol>
            <li>Уникалността - случвало ли ви се да попаднете в ситуация с дублиран тоалет. На мен да, на  Саманта от "Секса и града" също. Ако и на вас също значи знаете, че това няма нищо общо с цената или вида на дрехата. Колкото и да се успокоявате -да, ние явно имаме еднакъв вкус, въпроси като "На мен ли ми стои по-добре?" и "Дали този цвят ми отива повече?" винаги изникват в главата ви. С шиенето моменти като този доста намаляват.</li>
            <li>Търпение. Шиенето ни учи на търпение и постоянство. Това единствения начин, за да постигнеш резултати и да довършиш проекта. Така, че ако си начинаещ шивач си подготви инструмента за порене и не се отказвай.</li>
            <li>Поглед към красивото и внимание към детайла. След като започнете да шиете, ще виждате дрехите с други очи</li>
            <li>Концентрация</li>
            <li>Да влезнем във форма - И шиенето и започването на нова тренировъчна програма започва със вземането на правилните мерки. Всеки път когато шиете за себе си, ще си казвате това май ще ми стои по-добре ако поспортувам или поотслабна малко, а това си е добра мотивация нали.</li>
            <li>Въображение .</li>
        </ol>
    </p>
</div>
