@model StrategyConciseViewModel
<li class="list-group-item" style="text-align:center">
    <a asp-area="Admin" asp-controller="Strategies" asp-action="Details" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="nav-link">@Model.Title</a>
</li>
