@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole(WebConstants.AdminRole))
{<div class="container-fluid">
     <ul class="nav navbar-expand-lg navbar-light d-flex justify-content-center">
         <li class="nav-item">
             <div style="padding:2px">
                 <a class="btn send active" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
             </div>
         </li>
         <li class="nav-item">
             <div style="padding:2px">
                 <a class="btn send active" asp-area="Admin" asp-controller="Articles" asp-action="Add">Add Article</a>
             </div>
         </li>
         <li class="nav-item">
             <div style="padding:2px">
                 <a class="btn send active" asp-area="Admin" asp-controller="Videos" asp-action="Add">Add Video</a>
             </div>
         </li>
         <li class="nav-item">
             <div style="padding:2px">
                 <a class="btn send active" asp-area="Admin" asp-controller="Fabrics" asp-action="Add">Add Fabric</a>
             </div>
         </li>
         <li class="nav-item">
             <div style="padding:2px">
                 <a class="btn send active" asp-area="Admin" asp-controller="Strategies" asp-action="Add">Add Strategy</a>
             </div>
         </li>
     </ul>
</div>
}

